.row
  .col-xs-10
    %h2= @question.title
    %h3 Description
    = h @question.description

.row
  .col-xs-2
    - if can? :update, @question
      = link_to 'Edit Question', edit_question_path(@question), class: 'btn btn-warning btn-sm'
  .col-xs-1
    - if can? :destroy, @question
      = link_to 'Destroy', @question, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-danger btn-sm'
  .col-xs-2


