/*** navbar ***/
body {
    padding: 0px;
}

/*** navbar ***/

.navbar {
    .container{
        ul {
            &.nav-pills {
                li {
                    &:hover {
                        a {
                            &.btn-warning {
                                color: #ffffff;
                                background-color: #f0ad4e;
                                border-color: #eea236;
                            }
                        }
                    }
                }
            }
        }
    }
}

.list-group {
  a {
    &.no-touch {
      cursor: default
    }
  }
}


/*** question show ***/
.question_show {
    .answer {
        // box:{
        //     shadow: 3px 3px 0 0 rgba(0,0,0,.1);
        // }
        border: 1px solid rgba(0,0,0,.3);
        margin: {
            bottom: 10px;
            top: 10px;
        }
        padding: {
            top: 10px;
            bottom: 10px;
            left: 10px;
            right: 10px;
        }
    }
}
/*** home ***/
.home {
    .question {
        h2 {
            margin-top: 0px;
            margin-bottom: 0px;
            height: 50px;
            line-height: 50px;
        }
    }
}

/*** footer ***/

.footer {
    margin: {
        top: 100px;
    }
    padding: {
        top: 30px;
        bottom: 30px;
    }
    &.black {
        background: {
            color: #000000;
        }
        color: #FFFFFF;
        a {
            color: #FFFFFF;
        }
    }
}


/*** utilities ***/

.grid_cell {
    margin: {
        bottom: 20px;
    }
    .design {
    }
    .sample {
    }
}

.hidden {
    display: none;
}